In [1]:
import os
import pandas as pd

In [22]:
df = pd.read_excel('/home/eguzman/eguzmanv/acc_data/data_migration/stationReport.xlsx')
df = df[['IDENTIFICADOR', 'CODIGO DE LOCALIZACION']]
df.head()

  IDENTIFICADOR CODIGO DE LOCALIZACION
0          ACH1                    10
1          ACH6                    00
2          AGCC                    00
3           AGZ            Sin definir
4          APAC               00 - 10

In [28]:
sta_list = []
for i, row in df.iterrows():
    if '10' in row['CODIGO DE LOCALIZACION']: sta_list.append(row['IDENTIFICADOR'])

In [33]:
sta_info_list = [f'CM.{sta}.10' for sta in sta_list]
fpath = os.path.join('sta_info.csv')

with open(fpath, 'w') as f:
    f.write('\n'.join(sta_info_list))
    f.close()